body {
    
    background: rgb(248, 244, 204);
}
main {
    padding: 1% 25% 1% 25%;
}

.heading {
    color: darkblue;
}

.sectionHeader {
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: rgb(38, 85, 172);
}
#aboutMe {
    position: relative;
    font-style: solid;
    font-size: large;
    color: darkblue;
    font-weight: 500;
    padding: 5% 0 1% 0;
}
.photo {
    display: block;
    max-width: 60vw;
    max-height: 30vh;
    border-radius: 5%;
    margin-right: auto;
    margin-left: auto;
}
.menu {
    position: fixed;
    box-sizing: border-box;
    background-color: rgb(220, 239, 240);
    padding: 1% 25% 1% 25%;
    
   
}
.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}