body {
  margin: 0;
  background: rgb(248, 244, 204);
}

.heading {
  position: relative;
  color: darkblue;
}

.sectionHeader {
  padding: 5vh 5vw;
  position: relative;
  color: rgb(38, 85, 172);
}
#aboutMe {
  padding: 2vh 5vw;
  position: relative;
  font-style: solid;
  font-size: large;
  color: darkblue;
  font-weight: 500;
}
.photo {
  position: relative;
  max-width: 40%;
  max-height: 20%;
  border-radius: 5%;
  padding: 2vh 4vw;
}
.navigation {
  padding: 2vh 4vw;
  width: 100vw;
  position: fixed;
  z-index: 2;
  background-color: cornsilk;
}
.navigation_link {
    color: darkblue;
    text-decoration: none;
    margin: 2vh 1vw;
}
.navigation_link--homepage {
    color: darkred;
}
.top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
}
footer {
  padding: 80vh 4vw;
}
